<a href="https://colab.research.google.com/github/saajanrajak/leetcode_python/blob/main/2024_04_leetcode_python_Two_Numbers_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective : Leetcode

## 1 Two Numbers

https://colab.research.google.com/drive/126VT7nMqBDvRBEzESIeWp3FapWpam3QD#scrollTo=_BCVp-0V6GNN&line=1&uniqifier=1

You are given two non-empty linked lists representing two non-negative integers. The digits are stored in reverse order, and each of their nodes contains a single digit. Add the two numbers and return the sum as a linked list.

You may assume the two numbers do not contain any leading zero, except the number 0 itself.



Example 1:


Input: l1 = [2,4,3], l2 = [5,6,4]
Output: [7,0,8]
Explanation: 342 + 465 = 807.
Example 2:

Input: l1 = [0], l2 = [0]
Output: [0]
Example 3:

Input: l1 = [9,9,9,9,9,9,9], l2 = [9,9,9,9]
Output: [8,9,9,9,0,0,0,1]


Constraints:

The number of nodes in each linked list is in the range [1, 100].
0 <= Node.val <= 9
It is guaranteed that the list represents a number that does not have leading zeros.

## Code

In [2]:
import pandas as pd
import numpy as np

In [16]:
list_1 = [2,4,3]
list_2 = [5,6,4]

In [17]:
range(len(list_1))

range(0, 3)

In [34]:
# print values in reverse order
def rev_list_function(list_1):
  rev_list_1 = []
  for i in range(len(list_1)): # reverse the number
    j = len(list_1) - i -1
    x = list_1[j]
    rev_list_1.append(str(x))
    print(rev_list_1)
  return(int(''.join(rev_list_1)))


rev_list_function(list_1)

['3']
['3', '4']
['3', '4', '2']

342

In [37]:
def rev_2_list_and_add_function(list_1, list_2):
  v1 = rev_list_function(list_1)
  v2 = rev_list_function(list_2)

  v3 = v1+v2

  #--------
  print(v3)

print(list_1, list_2)
rev_2_list_and_add_function(list_1,list_2)

[2, 4, 3] [5, 6, 4]
['3']
['3', '4']
['3', '4', '2']
['4']
['4', '6']
['4', '6', '5']
807