<a href="https://colab.research.google.com/github/saajanrajak/leetcode_python/blob/main/2024_04_leetcode_python_Two_Sum_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective : Lee code

## 1 Two sum

https://colab.research.google.com/drive/126VT7nMqBDvRBEzESIeWp3FapWpam3QD#scrollTo=_BCVp-0V6GNN&line=1&uniqifier=1

1. Two Sum
Easy
Topics
Companies
Hint
Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.



Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].
Example 2:

Input: nums = [3,2,4], target = 6
Output: [1,2]
Example 3:

Input: nums = [3,3], target = 6
Output: [0,1]


Constraints:

2 <= nums.length <= 104
-109 <= nums[i] <= 109
-109 <= target <= 109
Only one valid answer exists.

## Code

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
list_1 = [2,7,11,15]

In [ ]:
# print all values
def two_sum_function(nums_list):
  for i in range(len(nums_list)): # need to put till -1 range stop
    print(nums_list[i])

two_sum_function(list_1)

2
7
11
15

In [ ]:
# print consecutive values values
def two_sum_function(nums_list):
  for i in range(len(nums_list)-1): # need to put till -1 range stop
    print(nums_list[i], nums_list[i+1])

two_sum_function(list_1)

2 7
7 11
11 15

In [ ]:
# here trying to add consecutive numbers
def two_sum_function(nums_list):
  for i in range(len(nums_list)-1):
    val = nums_list[i] + nums_list[i+1]
    print(val, "seq consecutive add")

two_sum_function(list_1)

9 seq consecutive add
18 seq consecutive add
26 seq consecutive add

In [ ]:
# adding all pairs
def two_sum_function_2(nums_list, target_val):
  for i in range(0, len(nums_list)):
    for j in range(i + 1, len(nums_list)):
      val = nums_list[i] + nums_list[j]

      print(val, "m_sum_val")

  #     if val == target_val:
  #       print('index:', i, j)
  # else: return np.nan
print(list_1)
two_sum_function_2(list_1, 9)

[2, 7, 11, 15]
9 m_sum_val
13 m_sum_val
17 m_sum_val
18 m_sum_val
22 m_sum_val
26 m_sum_val

In [ ]:
# add all pairs show position of index of those vars where it equals to target val
def two_sum_function_2(nums_list, target_val):
  for i in range(0, len(nums_list)):
    for j in range(i + 1, len(nums_list)):
      val = nums_list[i] + nums_list[j]

      if val == target_val:
        print('index:', i, j)

list_2 = [2,5,6,9,11]
print(two_sum_function_2(list_2,11))

index: 0 3
index: 1 2
None